@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
body {
  background: #352f5b;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.container {
  max-width: 400px;
}
h1 {
  font-size: 5rem;
  text-align: center;
  opacity: 0.4;
}
form{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}
input[type='text'],
input[type='text']:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}
.todos li {
  background: #423a6f;
  list-style-type: none;
}
.delete {
  cursor: pointer;
}
.filtered {
  display: none !important;
}
.completed {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
}
.small {
  color: #b5b5b5;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#parentUL {
  display: none;
}
